@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-purple-color: rgb(88, 124, 195);
  --primary-gray-color: #ddd;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial;
}

.container {
  width: 93%;
  max-width: 1270px;
  margin: 0px auto;
}

.landing {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/landing.jpeg');
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}

.landing__overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
}

.landing__header {
  height: 60px;
  font-size: max(19px, 1.3vw);
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: 0.2s ease-in-out;
}

.landing__header--active {
  background: rgba(0, 0, 0, 0.7);
}

.landing__header .container {
  height: 100%;
}

.landing__header__inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing__header__inner__name {
  font-weight: bold;
}

.landing__header__inner__name span {
  color: var(--primary-purple-color);
}

.landing__header__inner__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.landing__header__inner__nav li {
  float: left;
  margin-left: 17px;
  position: relative;
}

.landing__header__inner__nav li::after {
  content: '';
  width: 60%;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  transition: 0.15s ease-in-out;
}

.landing__header__inner__nav li:hover::after {
  background: var(--primary-purple-color);
}

.landing__header__inner__nav li a {
  text-decoration: none;
  color: #fff;
  transition: 0.15s ease-in-out;
}

.landing__header__inner__nav li.current a {
  color: var(--primary-purple-color);
}

.landing__header__inner__nav li.current::after {
  background: var(--primary-purple-color);
}

.landing__header__inner__nav li:hover a {
  color: var(--primary-purple-color);
}

.landing__header__inner__nav--active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--primary-purple-color);
  align-items: center;
  justify-content: center;
}

.landing__header__inner__nav--active ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.landing__header__inner__nav--active ul li {
  margin: 0;
}

.landing__header__inner__nav--active ul li:hover a {
  color: #fff;
}

.landing__header__inner__nav--active ul li:hover::after {
  display: none;
}

.landing__header__inner__menu {
  display: none;
  padding: 4px 7px;
  border: 2px solid var(--primary-purple-color);
  border-radius: 2px;
  z-index: 999;
}

.landing__header__inner__menu--active {
  border-color: #fff;
}

.landing__typewriter {
  width: 93%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(23px + 1.1vw);
  font-weight: bold;
  text-align: center;
}

.landing__arrow {
  display: flex;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  font-size: max(23px, 1.3vw);
  border: 2px solid var(--primary-purple-color);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.13s ease-in-out;
}

.landing__arrow:hover {
  background: var(--primary-purple-color);
}

.most_booked,
.about_us {
  background: var(--primary-gray-color);
}

.most_booked,
.book,
.about_us {
  padding: 50px 0px;
}

.most_booked__heading {
  width: max-content;
  margin: 0px auto 30px auto;
  color: var(--primary-purple-color);
}

.most_booked__heading h2 {
  margin: 0px 0px 7px 0px;
  font-size: calc(1em + 1.2vw);
}

.most_booked__heading div {
  width: 80%;
  height: 3px;
  border: 2px solid var(--primary-purple-color);
  border-radius: 90%;
  margin: 0px auto;
}

.most_booked__halls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.most_booked__halls__hall,
.book__results__halls__hall {
  width: 350px;
  height: 200px;
  background: url('../assets/landing.jpeg');
  background-size: cover;
  border-radius: 7px;
  margin: 20px;
}

.most_booked__halls__hall__overlay,
.book__results__halls__hall__overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: rgba(88, 124, 195, 0.6);
  color: #fff;
  transition: 0.25s ease-in-out;
}

.most_booked__halls__hall:hover .most_booked__halls__hall__overlay,
.book__results__halls__hall:hover .book__results__halls__hall__overlay {
  opacity: 1;
}

.book__search_bar {
  width: 90%;
  /* border: 2px solid var(--primary-purple-color); */
  background: var(--primary-gray-color);
  border-radius: 70px;
  height: 70px;
  margin: 0 auto;
}

.book__search_bar form {
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.book__search_bar select,
.book__search_bar button {
  background: none;
  transition: 0.17s ease-in-out;
}

.book__search_bar select,
.book__search_bar button,
.book__search_bar i {
  font-size: clamp(100%, 1rem + 0.8vw, 24px);
  color: var(--primary-purple-color);
}

.book__search_bar select {
  border: none;
}

.book__search_bar button {
  border: 2px solid var(--primary-purple-color);
  height: 45px;
  border-radius: 45px;
  padding: 0 25px;
  cursor: pointer;
}

.book__search_bar button:hover {
  background: var(--primary-purple-color);
  color: #fff;
}

.book__results {
  margin: 50px 0 0 0;
}

.book__results__heading {
  height: 70px;
  background: var(--primary-purple-color);
  color: #fff;
  font-size: clamp(100%, 1rem + 2vw, 27px);
  text-align: center;
  line-height: 70px;
}

.book__results__halls {
  background: var(--primary-gray-color);
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

.book__results__halls__hall {
  margin: 0;
  width: auto;
}

.book__results__halls__hall__overlay {
  font-weight: bold;
}

.book__results__halls__hall__overlay p,
.book__results__halls__hall__overlay :nth-child(1) {
  margin-top: 0;
}

.book__results__halls__hall__overlay :last-child {
  margin-bottom: 0;
}

.book__results__halls__hall__overlay a {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px 14px;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.book__results__halls__hall__overlay a:hover {
  background: #fff;
  color: var(--primary-purple-color);
}

.about_us__inner {
  display: flex;
  justify-content: space-between;
}

.about_us__inner img,
.about_us__inner__info {
  width: 47%;
}

.about_us__inner img {
  border-radius: 7px;
}

.about_us__inner__info {
  font-size: clamp(100%, 1rem + 0.5vw, 19px);
}

.about_us__inner__info h2 {
  font-size: calc(1em + 1.2vw);
  color: var(--primary-purple-color);
  margin-top: 0;
}

.about_us__inner__info ul {
  padding: 0;
  list-style: none;
  line-height: 1.4em;
}

.about_us__inner__info i {
  color: #058a05;
}

@media screen and (max-width: 650px) {
  .landing__header__inner__nav {
    display: none;
  }

  .landing__header__inner__nav--active {
    display: flex;
  }

  .landing__header__inner__nav li.current a {
    color: #fff;
  }

  .landing__header__inner__nav li.current::after {
    background: none;
  }

  .landing__header__inner__menu {
    display: flex;
  }
}

@media screen and (max-width: 830px) {
  .about_us__inner {
    flex-direction: column-reverse;
  }

  .about_us__inner img,
  .about_us__inner__info {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .book__search_bar {
    width: 100%;
  }

  .book__search_bar form {
    padding: 0 10px;
  }
}
